.lead.tournamentLead {
  margin-bottom: 0;
}

.page-header.pageHeader {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  h1 {
    margin-top: 0;
  }
}

.statsWrapper {
  padding: 10px;
  text-align: center;

  .alert {
    display: inline-block;
    margin: 0 5px;
  }

  .statsValue {
    font-weight: bold;
  }

  a {
    color: #fff;
  }
}

.page-header.pageHeader.recentHeader {
  border: 0;
}

.List {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.List-index {
  margin-right: 5px;
}

.List-item--big {
  font-size: 1.5em;
  margin-left: -5px;
}

.List-item--big .List-link {
  margin-left: -4px;
}

.recentTournamentWrapper {
  .recentTournament {
    .image {
      img {
        max-height: 80px;
        max-width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}

.standingsTable {
  tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9;
  }
  tbody > tr:hover {
    background-color: #f5f5f5;
  }
  tbody > tr > td:nth-child(1) {
    text-align: right;
  }
}

.jumbotron.notFound {
  background-color: #f5f5f5;
}
